:root {
    --color-primary: #101c2c;
    --color-bg:  #ffffff;
    --color-two: #f9bf01;
}
body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background: var(--color-bg);
    font-family: 'Fira Sans Condensed', 'Arial Narrow', 'Arial', 'sans-serif' !important;
    overflow-x:  hidden;
}
.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 50px;
    font-family: 'Oswald', 'Arial Narrow', 'Helvetica', 'Arial', 'sans-serif' !important;
    font-weight: lighter;
    padding: 29px 0;
    margin: 0;
}
h2 {
    font-size: 49px;
    font-family: 'Oswald', 'Arial Narrow', 'Helvetica', 'Arial', 'sans-serif' !important;
    font-weight: lighter;
    padding: 29px 0;
    margin: 0;
}
p {
    font-size: 18px;
    line-height: 150%;
}
.btn {
    padding: 40px 0;
}
.button-yell {
    background-color: var(--color-two);
    padding: 20px 40px;
    border: 0;
    border-radius: 6px;
    font-size: 18px;
    color: var(--color-primary);
    transition: 0.5s;
}
.button-yell:hover{
    color: var(--color-bg);
    background-color: rgba(249, 191, 1, 0.88);
    transition: 0.3s;
    cursor: pointer;
}
.button-white {
    background-color: var(--color-bg);
    padding: 20px 40px;
    border: 0;
    border-radius: 6px;
    font-size: 18px;
    color: var(--color-primary);
    transition: 0.5s;
}
.button-white:hover{
    color: var(--color-two);
    transition: 0.3s;
    cursor: pointer;
}


@media (max-width: 768px) {
    h1 {
        font-size: 34px;
        font-family: 'Oswald', 'Arial Narrow', 'Helvetica', 'Arial', 'sans-serif' !important;
        font-weight: lighter;
        padding: 29px 0;
        margin: 0;
    }
    h2 {
        font-size: 32px;
        font-family: 'Oswald', 'Arial Narrow', 'Helvetica', 'Arial', 'sans-serif' !important;
        font-weight: lighter;
        padding: 29px 0;
        margin: 0;
    }
}
/*header*/

.header {
    background-color:  var(--color-primary);
    padding: 10px 0;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo img {
    height: 75px;
}
.logo-name {
    font-family: 'Oswald', 'Arial Narrow', 'Helvetica', 'Arial', 'sans-serif' !important;
    color: var(--color-two);
    font-size: 20px;
}
.logo-name a{
    color: var(--color-two);
}
.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-link{
    padding: 20px 25px;
}
.nav-item a {
    font-family: 'Oswald', 'Arial Narrow', 'Helvetica', 'Arial', 'sans-serif' !important;
    text-transform: uppercase;
    color: var(--color-bg);
    font-size: 20px;
}
.nav-item a:hover{
    color: var(--color-primary);
}
.nav-list :hover{
    background: var(--color-two);
}
.nav-link-hover{
    background: var(--color-two);
}
#head {
    color: var(--color-primary);
}

/*
home
*/

.welcome {
    margin-top: 95px;
    background-color: var(--color-primary);
    color: var(--color-bg);
    background-position: 100% -0;
    background-repeat: no-repeat;
    background-color: #101c2c!important;
    background-image: url(../assets/fon-welcome.png)!important;
}
.info {
    max-width: 768px;
}

/*
advantages
*/

.advantages {
    background-color: var(--color-two);
}
.advantages-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.advantages-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
    padding: 5px;
    margin-bottom: 20px;
}
.advantages-name {
    text-align: center;
    font-size: 31px;
    font-family: 'Oswald', 'Arial Narrow', 'Helvetica', 'Arial', 'sans-serif' !important;
    font-weight: lighter;
    padding: 20px 0 15px 0;
}
.advantages-text {
    text-align: center;
    font-size: 18px;
    line-height: 150%;
}
.advantages-item img{
    height: 64px;
    width: 64px;
}
#btn-uslugi {
    display: flex;
    justify-content: center;
}

/*
cause
*/

.cause-left{
    width: 35%;
    margin: 0;
    padding: 10px 0;
}
.cause-left img{
    display: inline-block;
    width: 100%;
}
.cause-content {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    font-size: 18px;
    line-height: 200%;
}
.cause-content ul{
    margin: 0;
}
@media (max-width: 910px) {
    .cause-left{
        display: flex;
        justify-content: center;
        width: 85%;
        margin: 0;
        padding: 10px;
    }
    .cause-left img{
        display: inline-block;
        width: 100%;
        max-width: 350px;
    }
    .cause-content {
        display: flex;
        flex-direction: row;
    }
}

/*
brend
*/

.brend {
    background-color: var(--color-primary);
}
.brend h2 {
    text-align: center;
    color: var(--color-bg);
}
.brend-img {
    padding-bottom: 40px;
}
.brend-img img{
    display: inline-block;
    width: 100%;
}

/*
faq
*/

.faq {
    background-color: var(--color-two);
}
.faq-question p {
    font-size: 21px;
    font-family: 'Oswald', 'Arial Narrow', 'Helvetica', 'Arial', 'sans-serif' !important;
    font-weight: lighter;
}
.faq-question-item {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.img-arrow {
    width: 20px;
    height: 20px;
    background-image: url(../assets/arrow.png);
    background-size: 20px;
    padding-right: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.img-arrow-down {
    width: 20px;
    height: 20px;
    background-image: url(../assets/arrow-down.png);
    background-size: 20px;
    padding-right: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.faq-answer {
    font-size: 18px;
    line-height: 150%;
    padding-bottom: 20px;
}
.faq-answer-none {
    display: none;
}

#faq-button {
    background-color: var(--color-bg);
    color: var(--color-primary);
}
#faq-button:hover {
    color: var(--color-two);
}
.border-hr {
    border-bottom: 1px solid var(--color-primary);
}

/*
footer
*/

footer {
    background-color: var(--color-primary);
}
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    color: var(--color-bg);
    font-size: 18px;
    line-height: 150%;
    margin: 20px 0;
}
.contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
}
.contact-text span{
    color: var(--color-two);
}
.contact-text a{
    color: var(--color-bg);
    font-size: 18px;
    line-height: 150%;
}
.contact-text a:hover {
    color: var(--color-two);
}
.map {
    width: 50%;
}
.map iframe {
    width: 100%;
}
.copirating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--color-bg);
    font-size: 18px;
    line-height: 150%;
}
.copirating-left ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.copirating-left img{
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(11%) hue-rotate(187deg) brightness(102%) contrast(103%);
}
.copirating-left img:hover{
    filter: invert(84%) sepia(20%) saturate(7186%) hue-rotate(1deg) brightness(102%) contrast(99%);
}
@media (max-width: 768px) {
    .copirating {
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (max-width: 910px) {
    .contact {
        display: flex;
        flex-direction: column;
    }
    .map {
        width: 100%;
    }
}

/*
service
*/

.service {
    margin-top: 95px;
    background-color: var(--color-bg);
}

/*
uslugi
*/

.uslugi {
    margin-top: 95px;
    background-color: var(--color-primary);
    color: var(--color-bg);
    background-position: 100% 0;
    background-image: url(../assets/fon-welcome.png)!important;
}
.uslugi-three{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 30px;
}
.uslugi-item-three {
    padding: 12px;
    border-radius: 5px;
    background-color: var(--color-bg);
    color: var(--color-primary);
    width: 33%;
}
.uslugi-two{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 30px;
}
.uslugi-item-two {
    padding: 12px;
    border-radius: 5px;
    background-color: var(--color-bg);
    color: var(--color-primary);
    width: 50%;
}
.uslugi p {
    font-weight: 500;
    color: var(--color-primary);
    font-family: 'Oswald', 'Arial Narrow', 'Helvetica', 'Arial', 'sans-serif' !important;
}
.uslugi-text {
    color: #636060;
}
#img-1 {
    background-image: url(../assets/uslugi/usluga1.webp);
    background-position: center center;
    background-size: cover;
    height: 300px;
    width: 100%;
}
#img-2 {
    background-image: url(../assets/uslugi/usluga2.webp);
    background-position: center center;
    background-size: cover;
    height: 300px;
    width: 100%;
}
#img-3 {
    background-image: url(../assets/uslugi/usluga3.webp);
    background-position: center center;
    background-size: cover;
    height: 300px;
    width: 100%;
}
#img-3 {
    background-image: url(../assets/uslugi/usluga3.webp);
    background-position: center center;
    background-size: cover;
    height: 300px;
    width: 100%;
}
#img-4 {
    background-image: url(../assets/uslugi/usluga4.webp);
    background-position: center center;
    background-size: cover;
    height: 300px;
    width: 100%;
}
#img-5 {
    background-image: url(../assets/uslugi/usluga5.webp);
    background-position: center center;
    background-size: cover;
    height: 300px;
    width: 100%;
}
h3 {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Oswald', 'Arial Narrow', 'Helvetica', 'Arial', 'sans-serif' !important;
    font-weight: 500;
    padding-bottom: 30px;
}
@media (max-width: 910px) {
    .uslugi-three {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .uslugi-item-three {
        width: 95%;
    }
    .uslugi-two {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .uslugi-item-two {
        width: 95%;
    }
}
/*
contact
*/
.container-contact {
    margin-top: 95px;
    background-color: var(--color-bg);
}
.container-contact span {
    font-size: 21px;
    font-family: 'Oswald', 'Arial Narrow', 'Helvetica', 'Arial', 'sans-serif' !important;
}
.contact-border {
    border: solid 1px var(--color-primary);
    margin: 30px 0;
}
.social {
    background-color: var(--color-two);
    padding: 50px 0;
}
.contact-info {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: 18px;
}
.contact-info-text {
    align-self: center;
}
.contact-info-address {
    line-height: 150%;
    padding-bottom: 30px;
}
.contact-info-time {
    line-height: 150%;
    padding-bottom: 30px;
}
.contact-info-text a{
    color: var(--color-primary);
}
.contact-info-text a:hover {
    color: var(--color-two);
}
.social-text p {
    margin: 0;
    margin-bottom: 30px;
}
.social-link a{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#social-link ul{
    gap: 30px;
}
#social-link a :hover{
    filter: brightness(0) saturate(100%)
}
@media (max-width: 910px) {
    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* .social img { */
    /* background-color: var(--color-two); */
    /* padding: 5px; */
    /* border-radius: 5px; */
/* } */

/*
burger
*/

@media screen and (max-width: 910px) {
    .nav {
        display: none;
    }
}
.burger {
    width: 40px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
}
@media screen and (min-width: 911px) {
    .burger {
    display: none;
    }
}
.burger:hover {
    cursor: pointer;
}
.burger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-two);
}
.burger-open {
    width: 40px;
    justify-content: flex-start;
}
.burger-open span:nth-child(4), .burger-open span:nth-child(1) {
    display: none;
}
.burger-open span:nth-child(2) {
    transform: translateY(10px) rotate(45deg);
}
.burger-open span:nth-child(3) {
    transform: translateY(8px) rotate(135deg);
}
.menu {
    width: 100%;
    background-color: white;
    color: #636060;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 0.3s;
}
.menu li {
    color: var(--color-links-nav);
    justify-content: space-around;
}
.menu-open {
    right: 0;
}
.menu-list {
    padding: 0;
    margin: 0;
    height: 100vh;
    list-style-type: none;
    color: var(--color-links-nav);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.menu-list a{
    text-decoration: none;
    font: 400 40px "Inika", serif;
    color: var(--color-links-nav);
}
.menu-item a:hover {
    color: var(--color-two);
}
.no-scroll {
    overflow-y: hidden;
}

/*
scrolling
*/

.btn-up {
    position: fixed;
    background-color: #c7c5c5;
    right: 30px;
    bottom: 70px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    width: 50px;
    height: 50px;
    opacity: 1;
}
.btn-up::before {
    content: "";
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}
.btn-up_hide {
    display: none;
}
.btn-up_hiding {
    opacity: 0;
}
@media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
    background-color: #c7c5c5;
    }
}